mixin b-tableContent()
	.table-block
		table(cellspacing="0" cellpadding="0")
			thead
				tr
					th Title
					th Role
					th Service
					th Company
					th Status
					th Date
					th Actions

			+b-tableTdItem(globals.table)

mixin b-tableTdItem(table)

		if globals.table

			each item in globals.table
				tr
					td= item.title
					td= item.role
					td= item.service
					td= item.company
					td
						SPAN(class=item.status)= item.statusConnection
					td= item.date

					td
						+b.actions
							+e.more
								SPAN= item.actionMore
							+e.add
								img(src=item.actionAdd alt="add")



